body {
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding: 5px 0px 5px 150px;
  height: 50px;
  background: #df0451;
  color: white;
  margin-bottom: 1em;
  border-bottom: 2px solid #af0031;
  background-image: url(http://caml.inria.fr//pub/logos/caml-inria-fr.128x58.gif);
  background-repeat: no-repeat;
}

div {
  margin-top: 1em;
}
div.status {
  text-align: center;
  margin-top: 1em;
}
div.status table a {
  text-decoration: none;
}
div.status table {
  padding: 0px;
  border-spacing: 1px;
}
div.footer {
  margin-top: 2em;
  font-size: 60%;
}

.good {
  background: LightGreen;
}

.bad {
  background: Salmon;
}

.unknown {
  background: Cornsilk;
}

